.bandeau {
    background-color: #FC83CE;
    color: #fff;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.5em 0 0.5em 0;
    margin-bottom: 1em;
}

.header-phone_logo, .header-adresse_logo {
    height: 30px;
    margin-right: 3px;
    margin-left: 10px;
}


.header-address {
    color: #000;
    margin-left: 2.5em;
}

.header-title {
    font-size : 2em;
    text-align: center;
}