header {
    width: 100vw;
    margin-bottom: 2rem;
}

/* fixer le bandeau et la barre de nav */
.header-fixed {
    position:fixed;
}

/////// BANDEAU TELEPHONE ET ADRESSE ///////
.bandeau {
    background-color: #FC83CE;
    color: #000;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   justify-content: space-between;
   width: 100vw;
}

.header-bandeau_tel, .header-bandeau_adresse, .header-bandeau_name {
    display: flex;
    align-items: center;
    margin: 0 1rem 0 1rem;
}

.header-bandeau_name {
    color: #fff;
    font-size: 1.2rem;
}

.header-phone_logo, .header-adresse_logo {
    height: 30px;
}

.header-phone_logo, .header-adresse_logo {
    margin-right: 0.5rem;
}

/* media queries pour le bandeau */
@media screen and (max-width:850px) {
    header .header-bandeau_adresse {
        display:none;
    }
}

@media screen and (max-width:400px) {
    header .header-bandeau_tel {
        display:none;
    }
}


/////// NAV /////////
.header-nav {
    background-color: rgb(230, 228, 228);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.header-nav_list {
    display: flex;
    justify-content: center;
    

    li{
        padding: 0.6rem 1rem;
        font-weight: 300;
    }

    li:hover {
        background-color:#fff;
        color:#FC83CE;
        transition-duration: 0.5s;
        font-size: 1.3rem;
    }

    li:active {
        font-weight: 400;
        transition-duration: 0s;
    }
}



/////// TITRE ET SOUS TITRE ////////

.header-not_fixed{
    padding-top:7.5rem;
}
.header-chloe_logo{
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    font-size : 3rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #fc83ce;
}

.header-subtitle {
    font-size:2rem;
    text-align: center;
    font-style: italic;
    color: #888;

    padding-bottom: 2rem;
    //border-bottom: solid 3px #888;
}

